.containerTab{
    display: grid;
}
/* .b{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    text-align: center;
} */
.item_value{
    text-align: center;
}
.rowCell,.rowKey{
    display: flex;
}